<div class="container">
    <div class="row">
      <div class="col-12">
  <div class="display-4 my-3 justify-content-center text-center google_font"> Reviews </div>
  </div>
  </div>

  <div class="row">
    {% for review in reviews %}
      <div class="col-md-4 mb-4">
        <div class="card border-warning h-100">
          <div class="card-body">
            <h5 class="card-header mb-4">{{ review.product }}</h5>
            <p class="card-text">{{ review.body|truncatewords:50 }}</p>
            <hr class="border-secondary">
            <h6 class="card-subtitle mb-2 text-muted">Rating: {{ review.rating }}/5</h6>
          </div>
          <div class="card-footer">
            <small class="text-muted">By {{ review.author }} on {{ review.created_on|date:"F d, Y" }}</small>
            <hr>
            <a class="btn btn-warning" href="{% url 'review_create' %}">Create Review</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>


  



  </div>