{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-2">
      <div class="col text-center mt-2">
        <h4 class="display-4 google_font">Reviews</h4>
        
      </div>
      </div>

    <div class="row my-4">
        <div class=" col-12 col-md-6">
            {% for review in reviews %}
    <div class="card my-3">
        <div class="card-header text-warning font-weight-bold">{{ review.product }}</div>
        <p class="font-weight-bold card-body ">{{ review.body|truncatewords:50 }}</p>
        <div class="card-footer">
        <p class="text-muted">Review from: {{ review.author }} - {{ review.rating }}/5</p>
        <hr>
        <a class="btn btn-warning" href="">Edit</a>
        <a class="btn btn-danger" href="">Delete</a>
    </div>
    </div>
{% endfor %}
        </div>

        <div class="col-12 col-md-6 my-3">
            <h1> Create Review here </h1>
            <form id="ReviewForm" method="post" style="margin-top: 1.3em;">
              {{ form | crispy }}
              {% csrf_token %}
              <button id="submitButton" type="submit" class="btn btn-warning btn-signup btn-lg mb-2">Submit</button>
            </form>
          </div>



    </div>

    {% endblock %}