{% extends "base.html" %} 
{% load static %} 


{% block content %}

<section id="home">
  <div class="jumbotron d-flex flex-column text-start h-100 justify-content-start fw-bold text-light">
    <div class="jumbo p-2">
    <h1 class="display-1 google_font mt-5"><strong>Paradise Pending</strong></h1>
    <p class="lead font-weight-bold">Welcome to Paradise Pending Clothing Store... <em>Paradise</em> awaits you!!</p>
    
    <p>Dress Like <em>Paradise</em></p>
    <p class="lead">
      <a class="btn btn-warning btn-lg" href="{% url 'products'%}" role="button">Search Now</a>
    </p>
    </div>
  </div>
</section>

<section>
{% include "reviews/review.html" %}
</section>

<section id="faq">
  {% include "faq/faq.html" %}
</section>

{% endblock %}