{% extends "base.html" %} 
{% load static %} 

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<section id="home">
  <div class="jumbotron d-flex flex-column home text-start h-100 justify-content-center ">
    <h1 class="display-1 google_font">Paradise Pending</h1>
    <p class="lead">Welcome to Paradise Pending Clothing Store... Paradise awaits you!!</p>
    <hr class="my-2">
    <p>Dress Like Paradise</p>
    <p class="lead">
      <a class="btn btn-warning btn-lg" href="{% url 'products'%}" role="button">Search Now</a>
    </p>
  </div>
</section>

<section>
{% include "home/includes/reviews/reviews.html" %}
</section>

{% endblock %}