{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Log Out" %}{% endblock %}

{% block content %}
<hr class="border mt-5">
<div class="container text-center mt-5 h-100">
    <h1 class="heading-text google_font">{% trans "Log Out" %}</h1>

    <p class="p-txt mt-2 my-4">Log out securely from your account?</p>

    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
        {% endif %}
        <button type="submit" class="btn btn-dark auth-btn my-4">Log Out</button>
    </form>

    <div class="mb-3">
        <a href="{% url 'home' %}" class="btn auth-btn btn-warning my-3 mb-5">Return Home</a>
    </div>
</div>

{% endblock %}