{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta http-equiv="X - UA - compatible" content="ie=edge" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Paradise Pending | Clothing Store</title>
    <meta name="description"
      content="Enjoy our Paradise Pending clothing store. Feel fresh with our high quality stylish clothes."
      />
    <meta name="keywords"
      content="Paradise, custom clothing store, happy t-tshirts, irish clothes,
       good vibes, summer vibes, summer clothes, holiday tops, cool summer tops for men,
        cool summer tops for women, designed tops, cool clothes, high quality cool clothes."/>
        <meta name="author" content="Colin Breakell">

     <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'css/img/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'css/img/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'css/img/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'css/img/site.webmanifest' %}">

  <!-- MailChimp popup -->
  <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/aa87886a9e9448ea7e4907f36/a1edb3eeaad2ef60408ace824.js");
  </script>

    <!-- Bootstrap CSS -->
    {% block corecss %}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jersey+10&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
  <style type="text/css">
        #mc_embed_signup{background:#fff; false;clear:left; font:14px Helvetica,Arial,sans-serif; width: px;}
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
    {% endblock %}

    <!-- Bootstrap JS + jquery + Fontawesome-->
     {% block corejs %}
    <script
      src="https://kit.fontawesome.com/2ae31dc990.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>
    <!-- Stripe -->
      <script src="https://js.stripe.com/v3/"></script>
      {% endblock %}

      {% block extra_css %}
      {% endblock %}
   
    {% block extra_js %}
    {% endblock %}

    <!-- Title -->
    <title>Paradise Pending... {% block extra_title %} {% endblock %}</title>
  </head>

  <!-- Body -->
  <body class="d-flex flex-column min-vh-100">
    <main class="flex-grow">
    <header class="fixed-top">
      <div id="delivery-banner" class="row text-center">
        <div class="col bg-black text-white">
          <h5 class="my-2">Free Delivery to Ireland on orders over €{{ free_delivery_threshold }} </h5>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(243, 243, 243);">
        <a class="navbar-brand google_font" href="{% url 'home' %}">Paradise Pending</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Clothing
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'products' %}">All products</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'products' %}?category=T-shirts">T-shirts</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=Trousers">Trousers</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">By Price</a>
                <a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc">By Rating</a>
                <a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=asc">By Category</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown mr-2">
              <a
                class="nav-link dropdown-toggle my_account_padding"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
               My Account
              </a>
              <div class="dropdown-menu" aria-labelledby="user-options">
                {% if request.user.is_authenticated %} 
                {% if request.user.is_superuser %}
                <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                {% endif %}
                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'account_logout' %}" class="dropdown-item"
                  >Logout</a
                >
                {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item"
                  >Register</a
                >
                <a href="{% url 'account_login' %}" class="dropdown-item"
                  >Login</a
                >
                {% endif %}
              </div>
            </li>
            <li class="nav-item mr-4">
              <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                <div class="text-lg-center">
                  <div><i class="fas fa-shopping-bag fa-lg" style="color: #ffc107;"></i></div>
                  <p class="my-0" style="color: #ffc107;">
                    {% if grand_total %}
                        €{{ grand_total|floatformat:2 }} 
                    {% else %}
                        €0.00 
                    {% endif %}
                  </p>
                </div>
              </a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0 mr-2" method="GET" action="{% url 'products' %}">
            <input
              class="form-control mr-sm-2"
              type="text"
              placeholder="Search our site"
              aria-label="Search"
              name="q"
            />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
        </div>
      </nav>
    </header>

    
    {% if messages %} 
      <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
            {% if level == 40 %}
                {% include 'includes/toasts/toast_error.html' %}
            {% elif level == 30 %}
                {% include 'includes/toasts/toast_warning.html' %}
            {% elif level == 25 %}
                {% include 'includes/toasts/toast_success.html' %}
            {% else %}
                {% include 'includes/toasts/toast_info.html' %}
            {% endif %}
        {% endwith %}
    {% endfor %}
      </div>
    {% endif %}

    {% block page_header %} 
    {% endblock %} 


    {% block content %} 
    {% endblock %} 

    </main>

    <footer class="footer py-3 bg-dark text-light w-100 mt-auto">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 mt-2">
            <h3 class="google_font">Paradise Pending</h3>
            <p class="text-danger">This webiste is for educational purposes. It is not a real clothing site. Payments made will not be proccessed, and you will not recieve any items.</p>
          </div>
          <div class="col-lg-3 mt-2">
            <h5>Quick Links</h5>
            <ul class="list-unstyled">
              <li><a href="{% url 'home' %}" class="text-warning">Home</a></li>
              <li><a href="{% url 'profile' %}" class="text-warning">My Profile</a></li>
              <li><a href="{% url 'home' %}" class="text-warning">FAQ // Contact us</a></li>
            </ul>
          </div>
          <div class="col-lg-3 mt-2">
            <h5>Follow Us on Facebook</h5>
            <a href="https://www.facebook.com/profile.php?id=61568474457260" class="text-decoration-none me-2" target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a>
            </div>
            <div class="col-lg-3 mt-2">
              <h5>Subscribe to our newsletter</h5>
            <div class="card text-dark p-2 m-1">
            <form action="https://herokuapp.us15.list-manage.com/subscribe/post?u=aa87886a9e9448ea7e4907f36&amp;id=4f506200e3&amp;f_id=0040ade1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
              
                  <div class="indicates-required"><span class="asterisk text-danger">*</span> indicates required</div>
                  <div class="mc-field-group"><label for="mce-EMAIL" class="text-warning font-weight-bold">Email Address <span class="asterisk text-danger p-2">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div>
              <div id="mce-responses" class="clear foot">
                  <div class="response" id="mce-error-response" style="display: none;"></div>
                  <div class="response" id="mce-success-response" style="display: none;"></div>
              </div>
          <div aria-hidden="true" style="position: absolute; left: -5000px;">
              /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
              <input type="text" name="b_aa87886a9e9448ea7e4907f36_4f506200e3" tabindex="-1" value="">
          </div>
          <div class="clear foot">
            <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn-warning" value="Subscribe">
        </div>

      </form>
      </div>
          </div>
        </div>
        <hr>
        <p class="text-center">&copy; 2024 Paradise Pending. All rights reserved.</p>
      </div>
    </footer>
    

    {% block postloadjs %} 
    <script type="text/javascript">
      $('.toast').toast('show');
    </script>

<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';fnames[6]='COMPANY';ftypes[6]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script></div>

    {% endblock %}
  </body>
</html>
